* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: block;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font: 45px $font-montserrat;
	font-weight: bold;
	letter-spacing: 0.055em;
	text-transform: uppercase;
}

p, h4 {
	font-family: $font-montserratthin;
	line-height: 22px;
	margin-bottom: 9px;
}

address {
	font-style: normal;
}


.section-inner {

	font-family: $font-montserrat;
	max-width: 1280px;
	padding: 0 70px;
	margin: 0 auto;

	.section-inner-left, .section-inner-right {

		display: inline-block;
		width: 46%;
		vertical-align: top;
	}

}

footer {

	height: 200px;
	background: url(../img/header.jpg) no-repeat;
	background-size: cover;
}



@media ( max-width: $size-mobile-max ) {

	.section-inner {
		padding: 0 20px;
	}

	h1, h2 {
		font-size: 36px;
	}

}